{% extends "budget/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% if object %}

{% else %}
{% endif %}

{% comment %} TODO {% endcomment %}
{% if projects %}
 <div class="d-flex flex-column">
 <h1>My Projects</h1>
 <a href="#modal1" class="btn green white-text modal-trigger w-25">Add Project <i class="material-icons right">add</i> <div class="clearfix"></div></a>
 <hr>
  {% for project in projects %}
    <div class="col">
      <div class="card-panel teal">
      <h3 class="white-text">{{ project.name }}</h3>
        <span class="right"><a href="{% url 'budget:project_details' project.slug %}" class="btn white green-text">View</a></span>
        <div class="clearfix"></div>
      </div>
    </div>
  {% endfor %}
</div>
{% else %}
<div class="homepage-box-wrapper d-flex align-items-center justify-content-center">
    <div class="homepage-box d-flex flex-column border-dashed p-4">
        <div class="message-section">
            <h3 class="grey-text">Sorry, You have no projects yet</h3>
        </div>
        <div class="button-section d-flex justify-content-center">
            {% comment %} Modal Trigger {% endcomment %}
            <a type="submit" class="btn green waves-effect waves-light btn modal-trigger left" href="#modal1">Add Project <i class="material-icons right">add</i> <div class="clearfix"></div></a>
        </div>
    </div>
</div>

{% endif %}

{% comment %} Modal Structure {% endcomment %}
  <div id="modal1" class="modal">
  <h3 class="center">Add Project</h3>
  <form action="{% url 'budget:add' %}" method="POST">
    <div class="modal-content">
        {% csrf_token %}
        {{ form | crispy }}
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn green white-text modal-close waves-effect waves-green btn-flat">Create <i class="material-icons right">add</i> <div class="clearfix"></div></a>
    </div>
  </form>
  </div>

{% endblock content %}